md-toolbar.toolbar-main {
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 9px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;
    -webkit-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

md-sidenav md-toolbar {
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 9px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;
    -webkit-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
}

md-sidenav {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}