md-toolbar.toolbar-main {
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 9px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;
    -webkit-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

md-sidenav md-toolbar {
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 9px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;
    -webkit-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
}

md-sidenav {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

.sg-toolbar-group-last {
    width: auto;
}

.pseudo-input-label.clickable {
    color: #0366d6;
    text-decoration: underline;
    cursor: pointer;
}

.view-list {
    border-right: solid 1px #d8d8d8;
}

.view-list md-list-item {
    border-bottom: solid 1px #e5e5e5;
}


@media (max-width: 2599px) {
    #messagesList .md-subheader{
        display: none;
    }
}

.in-iframe .toolbar-main {
    display: none;
}

.sg-account-section .md-menu {
    display: none;    
}

.sg-mailbox-list-item .md-menu {
    display: none;    
}